/* Open Sans loaded from Google Fonts CDN */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300;1,700&display=swap');

@font-face {
	font-family: "Darker Grotesque";
	src: url("/fonts/darker-grotesque/DarkerGrotesque-Black.ttf")
		format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Darker Grotesque";
	src: url("/fonts/darker-grotesque/DarkerGrotesque-Bold.ttf")
		format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Darker Grotesque";
	src: url("/fonts/darker-grotesque/DarkerGrotesque-ExtraBold.ttf")
		format("truetype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Darker Grotesque";
	src: url("/fonts/darker-grotesque/DarkerGrotesque-Light.ttf")
		format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Darker Grotesque";
	src: url("/fonts/darker-grotesque/DarkerGrotesque-Medium.ttf")
		format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Darker Grotesque";
	src: url("/fonts/darker-grotesque/DarkerGrotesque-Regular.ttf")
		format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Darker Grotesque";
	src: url("/fonts/darker-grotesque/DarkerGrotesque-SemiBold.ttf")
		format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Silkscreen";
	src: url("/fonts/silkscreen/Silkscreen-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Silkscreen";
	src: url("/fonts/silkscreen/Silkscreen-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Cartridge";
	src: url("/fonts/cartridge/Cartridge-Bold.otf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Cartridge";
	src: url("/fonts/cartridge/Cartridge-Regular.otf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-Black.otf")
		format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-BlackItalic.otf")
		format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-Bold.otf")
		format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-BoldItalic.otf")
		format("truetype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-Extrabold.otf")
		format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-ExtraboldItalic.otf")
		format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-Regular.otf")
		format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-RegularItalic.otf")
		format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-Semibold.otf")
		format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Perfectly Nineties";
	src: url("/fonts/perfectly-nineties/PerfectlyNineties-SemiboldItalic.otf")
		format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Gloria Hallelujah";
	src: url("/fonts/gloria-hallelujah/GloriaHallelujah-Regular.ttf")
		format("truetype");
	font-weight: normal;
	font-style: normal;
}
