@import "../../../packages/components/public/theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground min-h-screen;
	}
	#root {
		@apply min-h-screen;
	}
}

@layer utilities {
	.bg-stripes {
		background: repeating-linear-gradient(
			45deg,
			/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
			theme("colors.primary.DEFAULT" / 5%),
			/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
			theme("colors.primary.DEFAULT" / 5%) 20px,
			transparent 20px,
			transparent 40px
		);
	}

	.bg-stripes-destructive {
		background: repeating-linear-gradient(
			45deg,
			/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
			theme("colors.destructive.DEFAULT" / 5%),
			/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
			theme("colors.destructive.DEFAULT" / 5%) 20px,
			transparent 20px,
			transparent 40px
		);
	}
}

:root {
	/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
	--shiki-color-text: theme("colors.white");
	/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
	--shiki-token-constant: theme("colors.violet.300");
	/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
	--shiki-token-string: theme("colors.violet.300");
	/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
	--shiki-token-comment: theme("colors.zinc.500");
	/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
	--shiki-token-keyword: theme("colors.sky.300");
	/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
	--shiki-token-parameter: theme("colors.pink.300");
	/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
	--shiki-token-function: theme("colors.violet.300");
	/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
	--shiki-token-string-expression: theme("colors.violet.300");
	/* biome-ignore lint/correctness/noUnknownFunction: tailwind functions */
	--shiki-token-punctuation: theme("colors.zinc.200");

	--spacing: 0.25rem;

	::-webkit-scrollbar {
		@apply w-2.5 h-2.5;
	}

	::-webkit-scrollbar-track {
		@apply bg-transparent;
	}

	::-webkit-scrollbar-thumb {
		@apply rounded-full bg-border border-[1px] border-transparent border-solid bg-clip-padding;
	}
}
