on:
  pull_request:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: corepack enable
      - uses: actions/setup-node@v4
      - run: pnpm install
      - run: pnpm build -F 'rivetkit'
      - run: pnpm dlx pkg-pr-new publish 'engine/sdks/typescript/runner/' 'engine/sdks/typescript/api-full/' 'engine/sdks/typescript/runner-protocol/' 'rivetkit-typescript/packages/rivetkit' 'shared/typescript/virtual-websocket/' --packageManager pnpm